*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(4, 78, 4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1{
    font-size: 64px;
    
}